//media mixins

@mixin breakpoint($bp) {
  @media (max-width: $bp) {
    @content;
  }
}

// fonts mixins - use: @include f500;

@mixin f400 {
  font-family: "ProximaNova-Regular", sans-serif;
  font-weight: 400;
}

@mixin f700 {
  font-family: "ProximaNova-Bold", sans-serif;
  font-weight: 700;
}

@mixin f900 {
  font-family: "ProximaNova-Black", sans-serif;
  font-weight: 900;
}
