$blue-light: #0b3554;
$blue-dark: #08243e;
$yellow: #f7b516;
$white: #fff;
$black: #000;

$section-padding: 100px;
$section-padding-md: 80px;
$section-padding-sm: 60px;

$xl-bp: 1245px;
$lg-bp: 991px;
$md-bp: 869px;
$sm-bp: 575px;
