@import "vars";
@import "mixins";
@import "fonts";
@import "vendor/reset";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: $white;

  @include f400;
  font-size: 18px;
  line-height: 1;
  color: $black;
}

a {
  text-decoration: none;
  color: $black;

  &:hover {
    text-decoration: underline;
  }
}

/* Vendors */
@import "vendor/fancybox";
@import "vendor/swiper";

/* Blocks */

@import "blocks/page";
@import "blocks/container";
@import "blocks/header";
@import "blocks/intro";
@import "blocks/section-header";
@import "blocks/price";
@import "blocks/features";
@import "blocks/detail";
@import "blocks/guarantee";
@import "blocks/sales";
@import "blocks/questions";
@import "blocks/stages";
@import "blocks/storage";
@import "blocks/footer";
