.detail {
  background: url(/assets/images/detail/detail_bg.png) no-repeat center
    $blue-light;
  background-size: cover;
}

.section__subtitle--detail {
  max-width: 630px;

  margin-bottom: 60px;
}

.detail__inner {
  text-align: center;
}

.detail__form {
  margin-bottom: 30px;

  & .input-container--tel::after {
    right: 40px;
  }
}

.detail-input--wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include breakpoint(799px) {
    justify-content: space-around;
  }
}

.detail__form-input {
  margin: 0 15px;

  @include breakpoint(799px) {
    margin: 0;
  }
}

.input-container--detail {
  padding: 0;

  @include breakpoint(769px) {
    margin-top: 30px;
  }
}

.detail__form-btn {
  width: 100%;
  max-width: 360px;
  height: 70px;

  @include f700;
  font-size: 17px;
  text-transform: uppercase;
  color: $white;

  background-color: $yellow;
  border: none;
}

.detail__text {
  font-size: 14px;
  line-height: 1.2;
  color: $white;
}

.detail__text--recall {
  margin-bottom: 30px;
}

.detail__text--nubmer {
  margin-bottom: 16px;
}

.detail__tel-number {
  @include f900;
  font-size: 30px;
  color: $white;

  @include breakpoint($md-bp) {
    font-size: 20px;
  }
}
