.features {
  text-align: center;
  background-color: $blue-dark;
}

.features__inner {
  display: flex;
  justify-content: space-between;
  max-width: 1120px;

  @include breakpoint($md-bp) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.features__item {
  padding: 0 10px;

  @include breakpoint($md-bp) {
    width: 50%;
    max-width: 300px;

    padding-bottom: 50px;
  }

  @include breakpoint($sm-bp) {
    width: 100%;
  }
}

.features-item__img-wrapper {
  height: 100px;
  margin-bottom: 50px;
}

.features__item-text {
  font-size: 18px;
  line-height: 1.2;
  color: $white;

  max-width: 220px;

  @include breakpoint($md-bp) {
    margin: 0 auto;
  }
}
