.footer {
  padding: 40px 0;

  background-color: #191919;
}

.footer__inner {
  display: flex;
  justify-content: space-between;

  @include breakpoint($sm-bp) {
    display: block;
    text-align: center;

    & > * {
      margin-top: 30px;
    }
  }
}

.footer__copy {
  margin: auto;

  @include breakpoint($sm-bp) {
    margin-top: 30px;
  }
}

.footer__copy-text {
  font-size: 12px;
  color: $white;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
}

.footer__contacts-text {
  font-size: 13px;
  color: $white;

  margin-bottom: 13px;
}

.footer__contacts-number {
  font-size: 18px;
  font-weight: 900;
  color: $white;
}
