.header {
  background-color: #191919;

  padding: 25px 0;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
}

.header__nav {
  @include breakpoint(1110px) {
    position: absolute;
    width: 100vw;
    top: 65px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    visibility: hidden;
    opacity: 0;

    transition: all 0.2s linear;
  }
}

.header-nav__list {
  @include breakpoint(1110px) {
    text-align: center;
  }
}

.header-nav__list-item {
  display: inline-block;

  @include breakpoint(1110px) {
    display: block;
  }
}

.header-nav__list-item + .header-nav__list-item {
  margin-left: 18px;

  @include breakpoint(1110px) {
    margin: 15px 0;
  }
}

.header-nav__item-link {
  @include f700;
  font-size: 16px;
  color: $white;
}

.header-info {
  display: flex;
  align-items: center;

  @include breakpoint(1110px) {
    display: block;
    position: absolute;
    width: 100vw;
    top: 164px;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);

    visibility: hidden;
    opacity: 0;

    transition: all 0.2s linear;
  }
}

.header__work-time {
  max-width: 90px;

  @include f400;
  font-size: 12px;
  line-height: 2;
  color: $white;

  margin-right: 38px;

  @include breakpoint(1110px) {
    margin: 10px auto;

    text-align: center;
  }
}

.work-time--bold {
  @include f700;
}

.header__tel {
  display: flex;
  flex-direction: column;

  margin-right: 28px;

  @include breakpoint(1110px) {
    margin: 25px auto;

    text-align: center;
  }
}

.header__tel-number {
  @include f900;
  font-size: 18px;
  color: $white;
}

.header__tel-number + .header__tel-number {
  margin-top: 14px;
}

.call-btn {
  @include f700;
  font-size: 12px;
  text-transform: uppercase;
  color: $white;

  padding: 19px 28px;

  background-color: #1669b3;
  border: none;

  @include breakpoint(1110px) {
    display: block;

    margin: 35px auto 25px;
  }
}

.fixed {
  position: fixed;
  width: 100%;
  z-index: 99;

  padding: 10px 0;
}

// mobile styles

.nav-mobile {
  background-color: #191919;

  visibility: visible;
  opacity: 1;
}

.info-mobile {
  background-color: #191919;

  visibility: visible;
  opacity: 1;
}

.top-arrow {
  display: none;
  position: fixed;
  z-index: 99;
  right: 25px;
  bottom: 25px;
}

.top-arrow--visible {
  display: block;
}
