section {
  padding: $section-padding 0;

  @include breakpoint($md-bp) {
    padding: $section-padding-md 0;
  }

  @include breakpoint($sm-bp) {
    padding: $section-padding-sm 0;
  }
}

.section__header {
  margin: 0 auto 100px;
  text-align: center;

  max-width: 840px;

  @include breakpoint($sm-bp) {
    margin-bottom: 60px;
  }
}

.section__title {
  @include f900;
  font-size: 36px;
  color: $white;
  text-align: center;

  margin-bottom: 30px;

  @include breakpoint($sm-bp) {
    font-size: 25px;
  }
}

.section__title--black {
  color: $black;
}

.section__title--size {
  font-size: 30px;

  @include breakpoint($sm-bp) {
    font-size: 25px;
  }
}

.section__subtitle {
  @include f400;
  max-width: 390px;

  font-size: 20px;
  line-height: 1.2;
  color: $white;
  text-align: center;

  margin: 0 auto;

  @include breakpoint($sm-bp) {
    font-size: 18px;
  }
}

.section__subtitle--black {
  color: $black;
}
