.storage {
  background-color: $blue-light;
}

.swiper-slide__img {
  width: 100%;
  max-width: 370px;
  height: 270px;

  object-fit: cover;
}

.swiper-slide__link {
  display: block;
  text-align: center;
}
