<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__logo">
                <img class="footer__logo-img" src="/assets/images/logo.png" alt="">
            </div>
            <div class="footer__copy">
                <p class="footer__copy-text">© 2021, сверстал DevMinrat</p>
            </div>
            <div class="footer__contacts">
                <p class="footer__contacts-text">Есть вопросы? Звоните!</p>
                <a class="footer__contacts-number" href="tel:+78182474725">+7 (818) 247-47-25</a>
            </div>
        </div>
    </div>
</footer>