<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__logo">
                <img class="header__logo-img" src="/assets/images/logo.png" alt="">
            </div>
            <nav class="header__nav header-nav">
                <ul class="header-nav__list">
                    <li class="header-nav__list-item">
                        <a class="header-nav__item-link" href="#">Преимущества</a>
                    </li>
                    <li class="header-nav__list-item">
                        <a class="header-nav__item-link" href="#">Вопрос/Ответ</a>
                    </li>
                    <li class="header-nav__list-item">
                        <a class="header-nav__item-link" href="#">Контакты</a>
                    </li>
                </ul>
            </nav>
            <div class="header-info">
                <div class="header__work-time">
                    <span class="work-time--bold">c 9:00 до 21:00</span> без выходных
                </div>
                <div class="header__tel">
                    <a class="header__tel-number" href="tel:+78182474725">+7 (818) 247-47-25</a>
                    <a class="header__tel-number" href="tel:+78182474725">+7 (818) 247-47-25</a>
                </div>
                <button class="call-btn">заказать звонок</button>
            </div>
        </div>
    </div>
</header>